* {
    margin: 3px;
    padding: 3px;
    
  }
  body {
    font-size: 120%;
    font-family:'arial';
    background-image: url("imagini/bg.gif") ;
    background-size:cover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(158, 150, 150);
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(165, 8, 8);
  }
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #300202;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  .bodygrp{ 
    margin: 10px 0px 10px 0px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background:rgb(221, 215, 215);
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    
    padding: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: #db0b04;
    border:#000000 2px solid;
    border-radius: 5px;
  }
  .btn:hover {
    background-color:rgb(172, 7, 7);
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  
  